<style type="text/css">
    .marginTs{
        margin-top: 30px;
    }
</style>
<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>二维码管理</a>
        <a><cite> 二维码列表</cite></a>
    </span>
</blockquote>
<input type="text" value="{$storeid}" id="storeid" style="display: none">
<div class="search-table layui-form" id="storename">
    <div class="layui-input-inline">
        <input type="text" name="storename"  required  placeholder="请输门店名称" autocomplete="off" class="layui-input">
    </div>
    <button class="layui-btn" id="sousuo" lay-submit lay-filter="*">搜索</button>
</div>
<div class="layui-btn-group demoTable" style="margin-top: 10px" id="storebut">
    <button class="layui-btn layui-btn-normal" id='submit' lay-submit lay-filter="*">立即添加</button>
</div>
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="download">下载</a>
</script>
<script type="text/html" id="toolbarDemo">
<!--    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="batchadd">批量添加</button>-->
    <button class="layui-btn layui-btn-sm" lay-event="batchdownload">批量下载</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchdetele">批量删除</button>
</script>
<script>
    layui.use(['table','layer',], function(){
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var ids = 0;
        var storeid = $('#storeid').val();
        if(storeid >0){
            $('#storename').hide();
        }

        form.on('submit(*)', function(data){
            table.render({
                elem: '#test'
                ,url:"{:url('Qrcode/qrcodeList')}"
                ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                ,defaultToolbar: ['filter', 'exports', 'print']
                ,where:data.field
                ,limit:10
                ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,cols: [[
                    {type:'checkbox'}
                    ,{field:'qid', width:80, title: '序号', sort: true},
                    ,{field:'storename', width:200, title: '门店名称'}
                    ,{field:'tnumber', width:150, title: '桌台号'}
                    ,{field:'stoer_no', width:150, title: '唯一标识'}
                    ,{field:'gzlogo', width:150, title: '公众号图片名称'}
                    ,{field:'gz_qrcode',width:150, title: '公众号二维码',templet:'<div><img id="testImg" style="height: 25px;" src="__QRCODE__/{{d.gz_qrcode}}"></div>'}
                    // ,{field:'mini_qrcode',width:150, title: '小程序二维码',templet:'<div><img style="height: 25px;" src="__QRCODE__/{{d.mini_qrcode}}"></div>'}
                    ,{field:'create_time',width:200, title: '创建时间'}
                    ,{field:'update_time',width:200, title: '更新时间'}
                    ,{field:'right', width:150,toolbar: '#barDemo', title:'操作'}
                ]],
                done: function () {
                    $("[data-field='gzlogo']").css('display','none');
                    $('.layui-table').on('click','tr',function(){
                        $(this).css('background','#ccc').siblings().css('background','#fff');
                    });
                },page: true
            });
        });
        //自动点击.
        $(document).ready(function(){
            $("#sousuo").trigger("click");
            ids = 1;
            if(ids == 1){
                var page = localStorage.getItem('page');
                table.reload('test', {
                    page: {
                        curr: page //重新从第 1 页开始
                    }
                }); //只重载数据
                localStorage.clear();
            }
        });
        $('#submit').click(function(){
            location.href="{:url('Qrcode/qrcodeAdd')}";
        })
        //删除、修改、下载
        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'edit'){
                location.href="{:url('Qrcode/qrcodeEdit')}?qid="+data.qid;
            }else if(layEvent === 'del'){
                //删除 拼接弹窗信息
                var strMsg = '确定删除"';
                strMsg = strMsg.concat(data.tnumber);
                strMsg = strMsg.concat('"吗?');
                layer.confirm(strMsg, function(index){
                    $.post('{:url("Qrcode/qrcodeDel")}',
                        {qid:data.qid,tnumber:data.tnumber},
                        function(msg){
                            layer.msg(msg.font,{icon:msg.code});
                            if(msg.code==1){
                                table.reload('test');
                            }
                        },'json'
                    )
                });
            }else if(layEvent == 'download'){

                // 生成一个 a 标签
                var downloadName = data.gzlogo;
                // 获取要下载的图片
                var img = document.getElementById('testImg');
                var src = img.src;
                const a = document.createElement("a");
                a.download = downloadName || "图片";
                a.style.display = "none";
                const image = new Image();
                image.src = src + "?v=" + Math.random();
                image.crossOrigin = "*";
                image.onload = () => {
                    const base64 = getBase64Images(image);
                    a.href = base64;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                };
                function getBase64Images(image) {
                    const canvas = document.createElement("canvas");
                    canvas.width = image.width;
                    canvas.height = image.height;
                    const context = canvas.getContext("2d");
                    context.drawImage(image, 0, 0, image.width, image.height);
                    const url = canvas.toDataURL("image/png", 0);
                    return url;
                }
            }
        })

        $('.layui-table').on('click','tr',function(){
            $(this).css('background','#ccc').siblings().css('background','#fff');
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'batchdetele':
                    if(data.length === 0){
                        layer.msg('请选择您要删除的数据');
                    } else {
                        layer.confirm('确认批量删除', function(index){
                            $.post('{:url("Qrcode/batchDelete")}',
                                {data:data},
                                function(msg){
                                    layer.msg(msg.font,{icon:msg.code});
                                    if(msg.code==1){
                                        table.reload('test');
                                    }
                                },'json'
                            )
                        });
                    }
                    break;
                case 'batchdownload':
                    if(data.length === 0){
                        layer.msg('请选择您要操作的数据');
                    } else {
                        if(data.length > 50){
                            layer.msg('最大打印50张');
                        }else{
                            for (var i=0;data.length;i++){
                                downloadImg(data[i]);
                            }
                        }
                        console.log(data);
                    }
                    break;
            };
        });
        function downloadImg(data) {
            // 生成一个 a 标签
            var downloadName = data.gzlogo;
            //获取要下载的图片
            var img = document.getElementById('testImg');
            var src = img.src;
            const a = document.createElement("a");
            a.download = downloadName || "图片";
            a.style.display = "none";
            const image = new Image();
            image.src = src + "?v=" + Math.random();
            image.crossOrigin = "*";
            image.onload = () => {
                const base64 = getBase64Images(image);
                a.href = base64;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            };
            function getBase64Images(image) {
                const canvas = document.createElement("canvas");
                canvas.width = image.width;
                canvas.height = image.height;
                const context = canvas.getContext("2d");
                context.drawImage(image, 0, 0, image.width, image.height);
                const url = canvas.toDataURL("image/png", 0);
                return url;
            }

        }
        form.render();
    });

</script>
