<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>二维码管理</a>
        <a><cite> 二维码列表</cite></a>
    </span>
</blockquote>

<input type="text" value="{$s_type}" hidden id="s_type">
<div class="search-table layui-form">
    <div class="layui-input-inline tempsTest" id="searchstore" style="display: none;">
        <select name="storeids"  id="search-store" lay-search="">
            <option value="">请选择门店</option>
            {volist name="storeData" id='storeData'}
            <option value="{$storeData.storeid}">{$storeData.name}</option>
            {/volist}
        </select>
    </div>
    <div class="layui-input-inline tempsTest">
        <input type="text" name="sn" required  placeholder="请输入唯一标识" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-input-inline tempsTest">
        <input type="text" name="tnumber" required  placeholder="请输入桌号" autocomplete="off" class="layui-input">
    </div>
    <button class="layui-btn" id="sousuo" lay-submit lay-filter="*">搜索</button>
</div>


<div class="layui-btn-group demoTable" style="margin-top: 10px">
    <button class="layui-btn layui-btn-normal" data-type="goodsAdd" id="goodsAdds">立即添加</button>
</div>

<table class="layui-hide" id="test" lay-filter="testdd"></table>
<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="download">下载</a>
</script>
<script type="text/html" id="toolbarDemo">
        <button class="layui-btn layui-btn-sm" lay-event="batchdownload">批量下载</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchdetele">批量删除</button>
    </script>


<script>
    layui.use(['table','layer','upload','form'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var upload = layui.upload;
        var form = layui.form;


        var s_type = $('#s_type').val();
        if(s_type == 1){
            $('#searchstore').show();
        }
        //自动点击.
        $(document).ready(function(){
            $("#sousuo").trigger("click");
            ids = 1;
            if(ids == 1){
                var page = localStorage.getItem('page');
                table.reload('test', {
                    page: {
                        curr: page //重新从第 1 页开始
                    }
                }); //只重载数据
                localStorage.clear();
            }
        });




        table.on('tool(testdd)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'edit'){
                var pages = $(".layui-laypage-skip").find("input").val() //当前页码值
                location.href="{:url('Qrcode/qrcodeEdit')}?qid="+data.qid+"&page="+pages;
            }else if(layEvent === 'del'){
                //删除 拼接弹窗信息
                var strMsg = '确定删除"';
                strMsg = strMsg.concat(data.tnumber);
                strMsg = strMsg.concat('"吗?');
                layer.confirm(strMsg, function(index){
                    $.post('{:url("Qrcode/qrcodeDel")}',
                        {qid:data.qid,tnumber:data.tnumber},
                        function(msg){
                            layer.msg(msg.font,{icon:msg.code});
                            if(msg.code==1){
                                table.reload('test');
                            }
                        },'json'
                    )
                });
            }else if(layEvent == 'download'){

                var downloadName = data.gzlogo;
                var url = window.location.protocol+"//"+window.location.host;;
                var date = getNowFormatDate();
                var src = url+'/qrcode/'+data.gz_qrcode;
                // var src = 'http://airscan.yinheyun.com.cn/qrcode/'+ date + '/' + data.gzlogo;
                // console.log(src);
                // return false;
                // console.log(url);
                // // 生成一个 a 标签
                // var downloadName = data.gzlogo;
                // // 获取要下载的图片
                // var img = document.getElementById('testImg');
                // var src = img.src;
                const a = document.createElement("a");
                a.download = downloadName || "图片";
                a.style.display = "none";
                const image = new Image();
                image.src = src + "?v=" + Math.random();
                image.crossOrigin = "*";
                image.onload = () => {
                    const base64 = getBase64Images(image);
                    a.href = base64;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                };
                function getBase64Images(image) {
                    const canvas = document.createElement("canvas");
                    canvas.width = image.width;
                    canvas.height = image.height;
                    const context = canvas.getContext("2d");
                    context.drawImage(image, 0, 0, image.width, image.height);
                    const url = canvas.toDataURL("image/png", 0);
                    return url;
                }
            }
        });

        //监听头工具栏事件
        table.on('toolbar(testdd)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
            ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'batchdetele':
                    if(data.length === 0){
                        layer.msg('请选择您要删除的数据');
                    } else {
                        layer.confirm('确认批量删除', function(index){
                            $.post('{:url("Qrcode/batchDelete")}',
                                {data:data},
                                function(msg){
                                    layer.msg(msg.font,{icon:msg.code});
                                    if(msg.code==1){
                                        table.reload('test');
                                    }
                                },'json'
                            )
                        });
                    }
                    break;
                case 'batchdownload':
                    if(data.length === 0){
                        layer.msg('请选择您要操作的数据');
                    } else {
                        if(data.length > 50){
                            layer.msg('最大打印50张');
                        }else{
                            packageImages(data);
                        }
                    }
                    break;
            };

        });

        form.on('submit(*)', function(data){
            table.render({
                elem: '#test'
                ,url:"{:url('Qrcode/qrcodeList')}"
                ,where:data.field
                ,toolbar: '#toolbarDemo'
                ,defaultToolbar: []
                ,limit:10
                ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,cols: [[

                {type: 'checkbox',},
                    {field:'qid', width:100, title: '序号',}
                    ,{width:60, title: '序号',type:'numbers'}
                    ,{field:'storename', width:200 , title: '门店名称'}
                    ,{field:'tnumber', width:150 , title: '桌台号'}
                    ,{field:'stoer_no', width:300 , title: '唯一标识'}
                    ,{field:'gz_qrcode', width:200, title: '公众号二维码',templet:'<div><img id="testImg" style="height: 25px;" src="__QRCODE__/{{d.gz_qrcode}}"></div>'}
                    ,{field:'create_time', width:200, title: '创建时间'}
                    ,{field:'update_time', width:200, title: '更新时间'}
                    ,{field:'right', width:220,toolbar: '#barDemo', title: '操作',align:'center'}
                ]],
                done: function () {
                    $("[data-field='qid']").css('display','none');
                    $('.layui-table').on('click','tr',function(){
                        $(this).css('background','#ccc').siblings().css('background','#fff');
                    });
                },page: true
            });
        });
        form.render();
        $('.layui-table').on('click','tr',function(){
            $(this).css('background','#ccc').siblings().css('background','#fff');
        });
        //跳转页面
        $('#goodsAdds').on('click', function(){
            location.href="{:url('Qrcode/qrcodeAdd')}";
        });
        form.render();
        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = year + seperator1 + month + seperator1 + strDate;
            return currentdate;
        }

        //批量下载图片并打包成zip
        function packageImages(data) {
            $('#status').text('处理中。。。。。');
            var url = window.location.protocol+"//"+window.location.host;//图片路径
            var imgsSrc = [];
            var imgBase64 = [];
            var imageSuffix = [];//图片后缀
            var zip = new JSZip();
            var img = zip.folder("点餐二维码");//解压后文件名称
            for (var i = 0; i < data.length; i++) {
                var src = url+'/qrcode/'+data[i].gz_qrcode;
                var suffix = src.substring(src.lastIndexOf("."));
                imageSuffix.push(suffix);
                getBase64(src).then(function (base64) {
                    imgBase64.push(base64.substring(22));
                }, function (err) {
                    console.log(err);//打印异常信息
                });
            }
            function tt(){
                setTimeout(function(){
                    if(data.length == imgBase64.length){
                        for(var i=0;i<data.length;i++){
                            //图片名称data[i].gz_qrcode
                            // img.file(data[i].gz_qrcode, imgBase64[i], {base64: true});
                            img.file("GZ_"+data[i].storename+"("+data[i].tnumber+")"+".png", imgBase64[i], {base64: true});
                        }
                        var content = zip.generate({type:"blob"});
                        saveAs(content, "点餐二维码.zip");
                        $('#status').text('处理完成。。。。。');

                    }else{
                        $('#status').text('已完成：'+imgBase64.length+'/'+data.length);
                        tt();
                    }
                },100);
            }
            tt();
        }
        //设置图片信息
        function getBase64(img){
            function getBase64Image(img) {
                var canvas = document.createElement("canvas");
                canvas.width = img.width;
                canvas.height = img.height;
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                var dataURL = canvas.toDataURL();
                return dataURL;
            }
            var image = new Image();
            image.crossOrigin = 'Anonymous';
            image.src = img;
            var deferred=$.Deferred();
            if(img){
                image.onload =function (){
                    deferred.resolve(getBase64Image(image));//将base64传给done上传处理
                }
                return deferred.promise();//问题要让onload完成后再return sessionStorage['imgTest']
            }
        }

    });
</script>