<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>上架审核</a>
        <a><cite> 审核信息</cite></a>
    </span>
</blockquote>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>菜品信息</legend>
</fieldset>
<div class="layui-form-item">
    <input type="text" hidden="hidden" value="{$page}" id="page">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">菜品图片:</label>
        <div class="layui-input-block">
            <img style="width: 115px;height: 115px;" src="__PUBLIC__/{$arr.img}" id="images">
            <a href="javascript:;" id='delimg'></a>
        </div>
    </div>
    <!--<div class="layui-form-item">-->
    <!--    <div class="layui-inline">-->
    <!--        <label class="layui-form-label">门店名称:</label>-->
    <!--        <div class="layui-input-block">-->
    <!--            <input type="text" name="pos_pay" disabled="disabled" value="{$arr.sname}"  class="layui-input">-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品名称:</label>
            <div class="layui-input-block">
                <input type="text" name="pos_pay" disabled="disabled" value="{$arr.name}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品类别:</label>
            <div class="layui-input-block">
                <input type="text" name="pos_pay" disabled="disabled" value="{$arr.gtname}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">库存数量:</label>
            <div class="layui-input-block">
                <input type="text" name="account" disabled="disabled" value="{$arr.stock}"  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品售价:</label>
            <div class="layui-input-block">
                <input type="text" name="account" disabled="disabled" value="{$arr.selling_price}"  class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">菜品原价:</label>
            <div class="layui-input-block">
                <input type="text" name="account" disabled="disabled" value="{$arr.original_price}"  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">会员价:</label>
            <div class="layui-input-block">
                <input type="text" name="account" disabled="disabled" value="{$arr.member_price}"  class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">员工价:</label>
            <div class="layui-input-block">
                <input type="text" name="account" disabled="disabled" value="{$arr.staff_price}"  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">是否特色:</label>
            <div class="layui-input-block">
                <input type="text" name="account" disabled="disabled" value="{$arr.is_special}"  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品状态:</label>
            <div class="layui-input-block">
                <input type="text" name="account" disabled="disabled" value="{$arr.is_grounding}"  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品介绍:</label>
            <div class="layui-input-block">
                <input type="text" name="account" disabled="disabled" value="{$arr.trade_description}"  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-input-block">
        <button type="reset" id='up' class="layui-btn layui-btn-primary">返回</button>
    </div>
</div>
<script>
    layui.use(['table','layer','upload','form'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var upload = layui.upload;
        var form = layui.form;

        $('#up').click(function(){
            var page = $('#page').val();
                localStorage.setItem('page',page);
                window.history.back();
            // location.href="{:url('Deposit/depositList')}";
        });   
    });
</script>
