<div class="layui-form-item">
    <span class="layui-breadcrumb">
        <a href='#'>缴费管理</a>
        <a><cite> 物业收费</cite></a>
    </span>
</div>


<div class="search-table layui-form">
    <div class="layui-inline">
        <select name="district_id"  id="search-district" lay-search="">
            <option value="">请选择小区</option>
            {volist name="districts" id='district'}
            <option value="{$district.id}">{$district.name}</option>
            {/volist}
        </select>
    </div>
    <div class="layui-inline">
        <select name="complex"  id="search-key" >
            <option value="" >请选择区</option>
            <option value="甲">甲</option>
            <option value="乙">乙</option>
            <option value="丙">丙</option>
            <option value="丁">丁</option>
        </select>
    </div>
   <div class="layui-input-inline">
        <input type="text" name="home_code" required  placeholder="请输入楼号" autocomplete="off" class="layui-input">
      </div>

      <div class="layui-input-inline">
        <input type="text" name="owner" required  placeholder="请输入房主姓名" autocomplete="off" class="layui-input">
      </div>

    <button class="layui-btn" lay-submit lay-filter="*">搜索</button>
</div>


<button class="layui-btn layui-btn-normal" id='submit' lay-submit lay-filter="*">立即添加</button>

<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['table','layer','upload','form'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var upload = layui.upload;
        var form = layui.form;
        

        table.render({
            elem: '#test'
            ,url:'{:url("Orders/propertyList")}'
            ,limit: 10
            ,where:{status:0}
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {field:'id', width:100, title: '订单id'}
                ,{field:'order_no',width:200, title: '订单号'}
                ,{field:'pay_status',width:200, title: '支付状态'}
                ,{field:'invoice_status',width:200, title: '发票状态'}
                ,{field:'title',width:200, title: '标题'}
                ,{field:'type',width:200, title: '订单类型'}
                ,{field:'pay_type',width:200, title: '支付方式'}
                ,{field:'user_name',width:200, title: '户主名称'}
                ,{field:'district_name',width:200, title: '小区名称'}
                ,{field:'complex',width:200, title: '区'}
                ,{field:'home_code',width:200, title: '楼号'}
                ,{field:'home_name',width:200, title: '房间名称'}
                ,{field:'paytime',width:200, title: '缴费年'}
                ,{field:'fee',width:200, title: '缴费金额'}
                ,{field:'pay_fee',width:200, title: '实付金额'}
                ,{field:'compensation',width:200, title: '赔偿项'}
                ,{field:'voucher',width:200, title: '凭证号'}
                ,{field:'start_at',width:200, title: '缴费开始时间'}
                ,{field:'end_at',width:200, title: '缴费结束时间'}
                ,{field:'finish_at',width:200, title: '缴费完成时间'}
                ,{field:'ctime',width:200, title: '添加时间'}
                ,{field:'right', width:200,toolbar: '#barDemo', title:'操作'}
            ]],
            page: true
        });
         $('#submit').click(function(){
            location.href="{:url('Orders/propertyAdd')}";
        })

         $('#dexcel').click(function(){
            location.href="{:url('Home/exceAdd')}";
         });

        //删除和修改
        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'detail'){ //查看
                location.href="{:url('Orders/propertyUpdateInfo')}?id="+data.id;
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    $.post(
                            '{:url("Orders/propertyDel")}',
                            {id:data.id},
                            function(msg){
                                layer.msg(msg.font,{icon:msg.code});
                                 if(msg.code==1){
                                 table.reload('test');
                                 }
                            },'json'
                    )
                });
            }
        })





        form.on('submit(*)', function(data){
          table.render({
              elem: '#test'
              ,url:"{:url('Home/dataNewList')}"
              ,where:data.field
              ,limit:10
              ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
              ,cols: [[
                  {field:'home_id', width:200, title: '房屋id'}
                ,{field:'district_name',width:200, title: '小区'}
                ,{field:'complex',width:200, title: '区'}
                ,{field:'home_code',width:200, title: '楼号'}
                ,{field:'owner',width:200, title: '房主姓名'}
                ,{field:'tel',width:200, title: '联系方式'}
                ,{field:'area',width:200, title: '面积'}
                ,{field:'check_in_at',width:200, title: '入住时间'}
                ,{field:'content',width:200, title: '备注'}
                ,{field:'ctime',width:200, title: '添加时间'}
                ,{field:'right', width:200,toolbar: '#barDemo', title:'操作'}
              ]]
              ,page: true
          });
        });
    });
</script>
