<div class="layui-form-item">
    <span class="layui-breadcrumb">
        <a href='#'>权限管理</a>
        <a><cite> 操作记录</cite></a>
    </span>
</div>
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['table','layer'], function(){
        var table = layui.table;
        var layer = layui.layer;
        table.render({
            elem: '#test'
            ,url:'{:url("System/operationLog")}'
            ,limit: 10
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {width:100, title: '序号',type:'numbers'}
                ,{field:'name', width:300, title: '管理员姓名'}
                ,{field:'content',width:600, title: '操作内容'}
                ,{field:'ctime',width:200, title: '操作时间'}
            ]],
            page: true
        });
        $('.layui-table').on('click','tr',function(){
          $(this).css('background','#ccc').siblings().css('background','#fff');
        });
    });
</script>