<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">pos机商户号<span style="color: red;">*</span></label>
            <div class="layui-input-inline">
                <input type="text" name="merId"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">pos机设备号<span style="color: red;">*</span></label>
            <div class="layui-input-inline">
                <input type="text" name="SN"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即添加</button>
        </div>
    </div>
</form>

<!-- 示例-970 -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function(){
        layui.use(['form','layer','upload'], function(){
            var form = layui.form;
            var layer = layui.layer;
            var upload = layui.upload;

            //监听提交
            form.on('submit(*)',function(data){
                $.post(
                        "{:url('System/posAdd')}",
                        data.field,
                        function(msg){


                            if(msg.code==1){
                                layer.msg(msg.font, {
                                  icon: msg.code,
                                  time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                  location.href="{:url('System/Posconfig')}";
                                });   
                            } else {
                                layer.msg(msg.font,{icon:msg.code});
                            }


                        },'json'
                )
                return false;
            })
        });
    })

</script>
