<form class="layui-form">
    <input type="text" hidden="hidden" name="id" value="{$data.id}" name="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">appId</label>
            <div class="layui-input-inline">
                <input type="text" name="appId" value="{$data.appId}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">secret秘钥</label>
            <div class="layui-input-inline">
                <input type="text" value="{$data.secret}" name="secret"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商户号</label>
            <div class="layui-input-inline">
                <input type="text" value="{$data.merId}" name="merId"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">设备号</label>
            <div class="layui-input-inline">
                <input type="text" value="{$data.termNo}" name="termNo"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
   <!--  <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">版权信息</label>
            <div class="layui-input-inline">
                <input type="tel" name="system_data"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div> -->

    <!-- <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">系统名称</label>
            <div class="layui-input-inline">
                <input type="tel" name="system_name" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div> -->

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即修改</button>
            <button type="reset" id='up' class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>

<!-- 示例-970 -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function(){
        layui.use(['form','layer','upload'], function(){
            var form = layui.form;
            var layer = layui.layer;
            var upload = layui.upload;
            $('#up').click(function(){
                location.href="{:url('System/WxApplets')}";
            });
            //监听提交
            form.on('submit(*)',function(data){

                layer.confirm('您确认修改吗？', function(index){
                        
                       $.post(
                               "{:url('System/wxappUp')}",
                               data.field,
                               function(msg){


                                   if(msg.code==1){
                                       layer.msg(msg.font, {
                                         icon: msg.code,
                                         time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                       }, function(){
                                         location.href="{:url('System/WxApplets')}";
                                       });   
                                   } else {
                                       layer.msg(msg.font,{icon:msg.code});
                                   }


                               },'json'
                       )
                });
                return false;


                
            })
        });
    })

</script>
