<!--<div class="layui-form-item">-->
<!--    <span class="layui-breadcrumb">-->
<!--        <a href='#'>门店管理</a>-->
<!--        <a><cite> 添加门店</cite></a>-->
<!--    </span>-->
<!--</div>-->
<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>门店管理</a>
        <a><cite> 添加门店</cite></a>
    </span>
</blockquote>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>门店基础信息设置</legend>
</fieldset>
<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">门店名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="name"  autocomplete="off" placeholder="请输入门店名称" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <input type="hidden" id="logo" name="banner_url">
            <label class="layui-form-label">门店Logo</label>
            <button type="button" class="layui-btn" id="myload">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <div class="layui-input-block">
            <img src="" id="images">
            <a href="javascript:;" id='delimg'></a>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">门店地址<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="address"  autocomplete="off" placeholder="请输入门店地址" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">营业时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="test4" name="start_business_hours" placeholder="开始时间">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="test5" name="end_business_hours" placeholder="结束时间">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">联系人<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="user_name"  autocomplete="off" placeholder="请输入联系人" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">联系方式<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="user_tel"  autocomplete="off" placeholder="请输入联系方式" class="layui-input">
            </div>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">登录账号<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="account"  autocomplete="off" placeholder="请输入登录账号" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">登录密码<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="passwords"  autocomplete="off" placeholder="请输入登录密码" class="layui-input">
            </div>
        </div>
    </div>
<!--    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">-->
<!--        <legend>门店支付设置</legend>-->
<!--    </fieldset>-->
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">pos支付</label>
            <div class="layui-input-block">
                <input type="text" name="pos_pay"  autocomplete="off" placeholder="请输入pos信息" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">刷脸支付</label>
            <div class="layui-input-block">
                <input type="text" name="face_pay"  autocomplete="off" placeholder="请输入刷脸支付" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">小票机</label>
            <div class="layui-input-block">
                <input type="text" name="password"  autocomplete="off" placeholder="请输入小票机信息" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即添加</button>
            <button type="reset" id='up' class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>

<!-- 示例-970 -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function(){
        layui.use(['form','layer','upload','laydate','laydate'], function(){
            var form = layui.form;
            var layer = layui.layer;
            var laydate = layui.laydate;
            var upload = layui.upload;
            var uploads = upload.render({
                elem: '#myload'
                ,url: '{:url("Brand/bannerUpload")}'
                ,multiple: true
                ,number:3
                ,allDone: function(obj){ //当文件全部被提交后，才触发
                }
                ,done: function(res, index, upload){ //每个文件提交一次触发一次。详见“请求成功的回调”
                    layer.msg(res.font,{icon:res.code});
                    if(res.code==1){
                        var str = '';
                        $('#logo').val($('#logo').val()+'#'+res.src);
                        var url = '__PUBLIC__/'+res.src;
                        $('#images').attr('src',url);
                        $('#images').attr('width','100');
                        $('#images').attr('height','100');
                        $('#delimg').text('删除图片');
                    }
                }
            });
            $('#delimg').click(function(){
                $('#images').attr('src','');
                $('#images').attr('width','');
                $('#images').attr('height','');
                $('#logo').val('');
                $('#delimg').text('');
            });
            $('#up').click(function(){
                location.href="{:url('Store/storeList')}";
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#test1' //指定元素
            });

            //时间范围
            laydate.render({
                elem: '#test4'
                ,type: 'time'
            });
            laydate.render({
                elem: '#test5'
                ,type: 'time'
            });
            form.on('submit(*)',function(data){
                var info = data.field;
                $.post(
                    "{:url('Store/storeAdd')}",
                    info,
                    function(msg){
                        if(msg.code ==1){
                            layer.msg(msg.font);
                            location.href="{:url('Store/storelist')}";
                        }else{
                            layer.msg(msg.font, {icon: 5});
                        }
                    },'json'
                )
                return false;
            })
        });
    })

</script>
