<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>菜品管理</a>
        <a><cite> 菜品添加</cite></a>
    </span>
</blockquote>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>菜品添加</legend>
</fieldset>
<form class="layui-form">
    <div class="layui-form-item" id="storeids">
        <label class="layui-form-label">门店列表<span style="color: red;">*</span></label>
        <div class="layui-input-inline" >
            <select name="storeid" id="storeid" lay-verify="required" lay-filter="demo" lay-search="">
                <option value="" >请选择门店</option>
                {volist name="storeData" id='storeData'}
                <option value="{$storeData.storeid}">{$storeData.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品图片</label>
            <button type="button" class="layui-btn" id="addZmImg"><i class="layui-icon">&#xe67c;</i>上传图片</button>
            <span style="margin-left:3px; color:grey;">
                278 * 163px &nbsp;&nbsp;&nbsp; 72ppi
            </span>
        </div>
       
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="margin-left: 100px;">
            <input type="hidden" id="logo" name="img">
            <ul id="imgZmList"></ul>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" maxlength="15" autocomplete="off" placeholder="请输入菜品名称" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品编号<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="code" lay-verify="code|int" maxlength="15" autocomplete="off" placeholder="请输入菜品编号" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜品分类<span style="color: red;">*</span></label>
        <div class="layui-input-inline" id="app">
            <select name="gtid" id="gtid" lay-verify="required" lay-search="">
                <option value="" >请选择菜品分类</option>
                {volist name="gtData" id='gtData'}
                <option value="{$gtData.gtid}">{$gtData.gtname}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">请选择规格</label>
        <div class="layui-input-block" id="tag_ids2" >
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品售价<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="selling_price" lay-verify="selling_price|required" autocomplete="off" placeholder="请输入售价" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">菜品原价</label>
            <div class="layui-input-block">
                <input type="text" name="original_price" lay-verify="original_price|int" autocomplete="off" placeholder="请输入原价" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">会员价</label>
            <div class="layui-input-block">
                <input type="text" name="member_price" lay-verify="member_price|int" autocomplete="off" placeholder="请输入会员价" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">员工价</label>
            <div class="layui-input-block">
                <input type="text" name="staff_price" lay-verify="staff_price|int" autocomplete="off" placeholder="请输入员工价" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort"  autocomplete="off" lay-verify="sort|int" placeholder="请输入排序值（默认10）" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">特色菜品</label>
        <div class="layui-input-block">
            <input type="checkbox" name="is_special" lay-skin="switch" lay-text="ON|OFF">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开启库存</label>
        <div class="layui-input-block">
            <input type="checkbox" name="is_open_stock" lay-skin="switch" lay-text="ON|OFF">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">库存数量</label>
            <div class="layui-input-block">
                <input type="text" name="stock" lay-verify="stock|int" autocomplete="off" placeholder="请输入库存数量" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">菜品介绍</label>
        <div class="layui-input-block">
            <textarea name="trade_description" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即添加</button>
            <button type="reset" id='up' class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
<!--    商品所属门店-->
    <input type="text"id="getStoreid" name="getStoreid" value="{$goods.storeid}"  style="display: none">
<!--    登陆者所属门店-->
    <input type="text"id="storeval" name="storeval" value="{$storeid}"  style="display: none">
    <script>
        var ids = 0;
        $(function(){
            layui.use(['form','layer','upload','element','laydate','selectM','element','jquery'], function(){
                var form = layui.form;
                var layer = layui.layer;
                var upload = layui.upload;
                var $ = layui.jquery;
                var selectM = layui.selectM;
                multiSelect = function() {};

                var storeval = $("#storeval").val();
                var storeid = $("#getStoreid").val();
                if(storeval != 0){
                    $("#storeid").val(storeid);
                    $.post("{:url('Goods/getGoodsSpecTypeList')}",
                        {storeid:storeid},
                        function(msg){
                            if(msg.code ==1){
                                var tagIns2 = selectM({
                                    elem: '#tag_ids2'//元素容器【必填】
                                    ,data: msg.font//候选数据【必填】
                                    ,selected: []//默认值
                                    ,max : 6//最多选中个数，默认5
                                    ,name: 'tag2'//input的name 不设置与选择器相同(去#.)
                                    ,delimiter: ','//值的分隔符
                                    ,width:495
                                    ,field: {idName:'gstid',titleName:'gstname'}//候选项数据的键名
                                });
                            }
                        },'json');
                    $("#storeids").hide();
                }else{
                    if(ids == 0){
                        var tagIns2 = selectM({
                            elem: '#tag_ids2'//元素容器【必填】
                            ,data: []//候选数据【必填】
                            ,selected: []//默认值
                            ,max : 6//最多选中个数，默认5
                            ,name: 'tag2'//input的name 不设置与选择器相同(去#.)
                            ,delimiter: ','//值的分隔符
                            ,width:495
                            ,field: {idName:'gstid',titleName:'gstname'}//候选项数据的键名
                        });
                    }
                    //清空分类下拉框
                    $('#gtid').children().first().nextAll().remove();
                    $('#gtid').append('<option value=""></option>');
                }

                var uploads = upload.render({
                    elem: '#addZmImg'
                    ,url: '{:url("Brand/bannerUpload")}'
                    ,multiple: true
                    // ,acceptMime:'image/jpg, image/png'
                    // ,number:5
                    ,before: function(obj){
                        //预读本地文件示例，不支持ie8
                        $("#imgZmList").height(110);
                        obj.preview(function(index, file, result){
                            $('#imgZmList').append('<li style="position:relative;width:112px;height: 110px;">' +
                                '<img name="imgZmList" src="' + result + '"width="112" height="112" left="170">' +
                                '<div class="img_close" onclick="deleteElement(this)">X</div></li>');
                            imgMove("imgZmList");
                        });
                        return false;
                    },allDone: function(obj){ //当文件全部被提交后，才触发
                    },done: function(res){
                        if(res.code==1){
                            var strLen = $('#logo').val();
                            if(strLen.length == 0){

                                $('#logo').val(res.src);
                            }else{
                                $('#logo').val($('#logo').val()+','+res.src);
                            }
                        }
                    }
                });
                form.on('submit(*)',function(data){
                    data.field.gstids = data.field.tag2;
                    var info = data.field;
                    console.log(info);
                    $.post(
                        "{:url('Goods/goodsAdd')}",
                        info,
                        function(msg){
                            if(msg.code ==1){
                                layer.msg(msg.font, {
                                    icon: msg.code,
                                    time: 500 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    location.href="{:url('Goods/goodsList')}";
                                });
                            }else{
                                layer.msg(msg.font, {icon: 5});
                            }
                        },'json'
                    )
                    return false;
                });
                $('#up').click(function(){
                    location.href="{:url('Goods/goodsList')}";
                });
                form.render();
                /* 验证输入框*/
                var reg = /^-?\d+$|^(-?\d+)(\.\d+)?$/;
                form.verify({
                    code: [/^$|^[0-9]{0,15}$/, '菜品编号只能是数字！'],
                    selling_price: [reg, '菜品售价格式有误，请重新输入'],
                    original_price:function(value){
                        if(value.length){
                            if(reg.test(value) == 0){
                                return '菜品原价格式有误，请重新输入';
                            }
                        }
                    } ,
                    member_price: function(value){
                        if(value.length){
                            if(reg.test(value) == 0){
                                return '会员价格式有误，请重新输入';
                            }
                        }
                    } ,
                    staff_price:function(value){
                        if(value.length){
                            if(reg.test(value) == 0){
                                return '员工价格式有误，请重新输入';
                            }
                        }
                    } ,
                    stock:function(value){
                        if(value.length){
                            if(reg.test(value) == 0 || value < 0){
                                return '库存格式有误，请重新输入';
                            }
                        }
                    } ,
                    sort: [/^$|^[0-9]{0,5}$/, '排序值只能是数字最大99999！'],
                });

                //选择门店事件
                form.on('select(demo)', function(data){
                    if(data.value){
                        //门店选择-》获取分类是数据
                        $.post('{:url("Goods/getStoreGoodsType")}',
                            {storeid:data.value},
                            function( ret ){
                                if(ret.data.length == 0){
                                    //清空分类下拉框
                                    $('#gtid').children().first().nextAll().remove();
                                    $('#gtid').append('<option value=""></option>');

                                }else{
                                    //分类赋值
                                    $('#gtid').children().first().nextAll().remove();
                                    for(var i=0;i<ret.data.length;i++){
                                        $('#gtid').append('<option value="'+ret.data[i].gtid+'">'+ret.data[i].gtname+'</option>');
                                        // form.render('select');
                                    }
                                }
                                form.render('select');
                                return false;
                        },'json');

                        //门店选择-》获取规格
                        $.post("{:url('Goods/getGoodsSpecTypeList')}",
                            {storeid:data.value},
                            function(msg){
                                $("#tag_ids2").children().first().nextAll().remove();
                                tagIns2 = selectM({
                                    elem: '#tag_ids2'//元素容器【必填】
                                    ,data: msg.font//候选数据【必填】
                                    ,selected: []//默认值
                                    ,max : 6//最多选中个数，默认5
                                    ,name: 'tag2'//input的name 不设置与选择器相同(去#.)
                                    ,delimiter: ','//值的分隔符
                                    ,width:495
                                    ,field: {idName:'gstid',titleName:'gstname'}//候选项数据的键名
                                });
                                tagIns2.render();
                            },'json');

                    }else{
                        //清空分类下拉框
                        $('#gtid').children().first().nextAll().remove();
                        $('#gtid').append('<option value=""></option>');
                        form.render('select');
                        return false;
                        //清空商品规格
                    }
                });

                form.render('select');
                return false;
            });
        })
    </script>
</form>
