<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>菜品管理</a>
        <a><cite> 分类添加</cite></a>
    </span>
</blockquote>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>菜品分类添加</legend>
</fieldset>
<form class="layui-form">
    <div class="layui-form-item" id="storeids">
        <label class="layui-form-label">门店列表<span style="color: red;">*</span></label>
        <div class="layui-input-inline" id="app">
            <select name="storeid" id="storeid" lay-verify="required" lay-search="">
                <option value="" >请选择门店</option>
                {volist name="storeData" id='storeData'}
                <option value="{$storeData.storeid}">{$storeData.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">分类名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="gtname" lay-verify="required" maxlength="10" autocomplete="off" placeholder="请输入分类名称" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">排序值</label>
            <div class="layui-input-block">
                <input type="text" name="sort" lay-verify="sort|int"  autocomplete="off" placeholder="请输入排序值(默认999)" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即添加</button>
            <button type="reset" id='up' class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
    <input type="text" id="storeidval" value="{$storeidval}" style="display: none">
</form>

<!-- 示例-970 -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function(){
        layui.use(['form','layer',], function(){
            var form = layui.form;
            var layer = layui.layer;
            multiSelect = function() {};
            form.on('submit(*)',function(data){
                var info = data.field;
                $.post(
                    "{:url('Goods/goodsTypeAdd')}",
                    info,
                    function(msg){
                        if(msg.code ==1){
                            layer.msg(msg.font, {
                                icon: msg.code,
                                time: 500 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                                location.href="{:url('Goods/goodsTypeList')}";
                            });
                        }else{
                            layer.msg(msg.font, {icon: 5});
                        }
                    },'json'
                )
                return false;
            })
            $('#up').click(function(){
                location.href="{:url('Goods/goodsTypeList')}";
            });

            var storeidval = $("#storeidval").val();
            if(storeidval != 0){
                $("#storeids").hide();
                $("#storeid").val(storeidval);
            }
            /* 验证输入框*/
            form.verify({
                sort: [/^$|^[0-9]{0,5}$/, '只能是数字且范围0~99999！']
            });
            form.render();
        });
    })

</script>
