<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>菜品管理</a>
        <a><cite> 规格信息</cite></a>
    </span>
</blockquote>
<div class="search-table layui-form">
    <div class="layui-input-inline tempsTest" id="searchstore">
        <select name="storeids"  id="search-store" lay-search="">
            <option value="">请选择门店</option>
            {volist name="storeData" id='storeData'}
            <option value="{$storeData.storeid}">{$storeData.name}</option>
            {/volist}
        </select>
    </div>
    <div class="layui-input-inline tempsTest">
        <input type="text" name="gstname" required  placeholder="请输入规格名称" autocomplete="off" class="layui-input">
    </div>
    <button class="layui-btn tempsTest" lay-submit id='sousuo' lay-filter="*">搜索</button>
    <input type="text" id="storeid" name="storeid" value="{$storeid}" style="display: none" class="layui-input">
</div>
<div class="layui-btn-group demoTable" style="margin-top: 10px">
    <button class="layui-btn layui-btn-normal" data-type="goodsSpecAdd">添加规格</button>
</div>
<table class="layui-hide" id="test" lay-filter="testdd"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script>
    layui.use(['table','layer','upload','form'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        //自动点击.
        $(document).ready(function(){
            $("#sousuo").trigger("click");
            ids = 1;
            if(ids == 1){
                var page = localStorage.getItem('page');
                table.reload('test', {
                    page: {
                        curr: page //重新从第 1 页开始
                    }
                }); //只重载数据
                localStorage.clear();
            }
        });
        table.on('tool(testdd)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'edit') { //修改
                location.href="{:url('Goods/goodsSpecEdit')}?gstid="+data.gstid;
            }else if(layEvent === 'del'){
                layer.confirm("确认删除'"+data.gsname+"'吗？", function(index){
                    $.post(
                        "{:url('Goods/goodsSpecDel')}",
                        data,
                        function(msg){
                            if(msg.code ==1){
                                layer.msg(msg.font,{icon:msg.code});
                                table.reload('test');
                            }else{
                                layer.msg(msg.font, {icon: 5});
                            }
                        },'json'
                    )
                    return false;
                })
            }
        });
        form.on('submit(*)', function(data){
            table.render({
                elem: '#test'
                ,url:"{:url('Goods/goodsSpecList')}"
                ,where:data.field
                ,limit:10
                ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,cols: [[
                    {field:'gstid', width:10, title: 'gstid',}
                    ,{width:60, title: '序号',type:'numbers'}
                    ,{field:'storename', width:150 , title: '门店名称'}
                    ,{field:'gstname', width:200 , title: '规格名称'}
                    ,{field:'gsname', width:400 , title: '规格内容'}
                    ,{field:'ismorename', width:200, title: '单/多选',align:'center'}
                    ,{field:'ismustname', width:100, title: '是否必选',align:'center'}
                    ,{field:'right', width:200,toolbar: '#barDemo', title: '操作',align:'center'}
                ]],
                done: function () {
                    var storeid = $('#storeid').val();
                    if(storeid != 0){
                        $("#searchstore").hide();
                        $("[data-field='storename']").css('display','none');
                    }
                    $("[data-field='gstid']").css('display','none');
                    $('.layui-table').on('click','tr',function(){
                        $(this).css('background','#ccc').siblings().css('background','#fff');
                    });
                },page: true
            });
        });

        $('.layui-table').on('click','tr',function(){
            $(this).css('background','#ccc').siblings().css('background','#fff');
        });
        //跳转页面
        $('.demoTable .layui-btn').on('click', function(){
            location.href="{:url('Goods/goodsSpecAdd')}";
        });
        form.render();
    });
</script>