<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>商品管理</a>
        <a><cite> 商品列表</cite></a>
    </span>
</blockquote>

<div class="search-table layui-form">
    <div class="layui-input-inline tempsTest">
        <select name="gtid"  id="search-district" lay-search="">
            <option value="">请选择菜品分类</option>
            {volist name="gtData" id='gtData'}
            <option value="{$gtData.gtid}">{$gtData.gtname}</option>
            {/volist}
        </select>
    </div>
    <div class="layui-input-inline tempsTest">
        <input type="text" name="gname" required  placeholder="请输入菜品名称" autocomplete="off" class="layui-input">
    </div>
    <button class="layui-btn tempsTest" lay-submit id='sousuo' lay-filter="*">搜索</button>
    <input type="text" id="storeid" name="storeid" value="{$storeid}" style="display: none" class="layui-input">
</div>
<div class="layui-btn-group demoTable" style="margin-top: 10px">
    <button class="layui-btn layui-btn-normal" data-type="goodsAdd" id="goodsAdds">添加菜品</button>

    <button type="button" class="layui-btn  layui-btn-normal" id="myload" style="">
        <i class="layui-icon">&#xe67c;</i>导入Excel表
    </button>
</div>

<table class="layui-hide" id="test" lay-filter="testdd"></table>
<script type="text/html" id="barDemo">
<!--    <a class="layui-btn layui-btn-xs" lay-event="sel">查看</a>-->
{if condition="$name=='jichang'"}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="up">上传</a>
    {else/}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="up">审核</a>
    {/if}
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="down">下架</a>
{if condition="$storeid!=0"}
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
{/if}
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="getCheckData">批量删除</button>
    </div>
  </script>

<script>
    layui.use(['table','layer','upload','form'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var upload = layui.upload;
        var form = layui.form;

         //文件上传
         var uploadInst = upload.render({
            elem: '#myload' //绑定元素
            ,url: '{:url("PHPExcel/goodsupload")}' //上传接口
            ,exts: 'xls|xlsx|xlsm|xlt|xltx|xltm'
            ,done: function(res){
                //上传完毕回调
                //console.log(msg);
                layer.msg(res.font,{icon:res.code});
                if(res.code==1){
                  table.reload('test');
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });

        //自动点击.
        $(document).ready(function(){
            $("#sousuo").trigger("click");
            ids = 1;
            if(ids == 1){
                var page = localStorage.getItem('page');
                table.reload('test', {
                    page: {
                        curr: page //重新从第 1 页开始
                    }
                }); //只重载数据
                localStorage.clear();
            }
        });

        

        table.on('tool(testdd)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'edit') { //修改
                location.href="{:url('Goods/goodsEdit')}?gid="+data.gid;
            }else if(layEvent === 'del'){
                layer.confirm("确认删除菜品【<font style='color: red'>"+data.name+"</font】吗？", function(index){
                    $.post(
                        "{:url('Goods/goodsDel')}",
                        data,
                        function(msg){
                            if(msg.code ==1){
                                layer.msg(msg.font);
                                // location.href="{:url('Goods/goodsList')}";
                            }else{
                                layer.msg(msg.font, {icon: 5});
                            }
                        },'json'
                    )
                    return false;
                })
            }else if(layEvent === 'up'){
                // 确认上架菜品【<font style='color: red'>"+data.name+"</font>】吗？
                layer.confirm("确认提交审核吗？", function(index){
                    $.post(
                        "{:url('Goods/goodsUp')}",
                        data,
                        function(msg){
                            if(msg.code ==1){
                                layer.msg(msg.font);
                                location.href="{:url('Goods/goodsList')}"
                            }else{
                                layer.msg(msg.font, {icon: 5});
                            }
                        },'json'
                    )
                    return false;
                });
            }else if(layEvent === 'down'){
                layer.confirm("确认下架菜品【<font style='color: red'>"+data.name+"</font>】吗？", function(index){
                    $.post(
                        "{:url('Goods/goodsDown')}",
                        data,
                        function(msg){
                            if(msg.code ==1){
                                layer.msg(msg.font);
                                location.href="{:url('Goods/goodsList')}";
                            }else{
                                layer.msg(msg.font, {icon: 5});
                            }
                        },'json'
                    )
                    return false;
                })
            }else if(layEvent === 'sel'){
                $.post(
                    "{:url('Goods/goodsInfo')}",
                    data,
                    function(msg){
                        if(msg.code ==1){
                            layer.msg(msg.font);
                            location.href="{:url('Goods/goodsList')}";
                        }else{
                            layer.msg(msg.font, {icon: 5});
                        }
                    },'json'
                )
                return false;
            }

        });

        //监听头工具栏事件
table.on('toolbar(testdd)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
            ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
            case 'add':
                layer.msg('添加');
            break;
            case 'update':
                if(data.length === 0){
                layer.msg('请选择一行');
                } else if(data.length > 1){
                layer.msg('只能同时编辑一个');
                } else {
                layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
                }
            break;
            case 'getCheckData':
                if(data.length === 0){
                layer.msg('请选择您要删除的数据');
                } else {
                    
                    layer.confirm('确认批量删除', function(index){
                    $.post(
                            '{:url("Goods/goodsDels")}',
                            {data:data},
                            function(msg){
                                
                                layer.msg(msg.font,{icon:msg.code});
                                 if(msg.code==1){
                                 table.reload('test');
                                 }
                            
                                
                            },'json'
                    )
                });


                //     console.log(data);
                // layer.msg('删除');
                }
            break;
            };
        });


        form.on('submit(*)', function(data){
            table.render({
                elem: '#test'
                ,url:"{:url('Goods/goodsList')}"
                ,where:data.field
                ,toolbar: '#toolbarDemo'
                ,defaultToolbar: [] 
                ,limit:10
                ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,cols: [[
                {type: 'checkbox',},
                    {field:'gid', width:80, title: 'ID',}
                    ,{field:'gtname', width:150 , title: '菜品类别'}
                    ,{field:'name', width:150 , title: '菜品名称'}
                    ,{field:'img', width:100 , title: '菜品图片',templet:'<div><img style="height: 25px;" src="__PUBLIC__/{{d.img}}"></div>'}
                    ,{field:'stock', width:100, title: '菜品库存'}
                    ,{field:'selling_price', width:100, title: '售价'}
                    ,{field:'original_price', width:100, title: '原价'}
                    ,{field:'member_price', width:100, title: '会员价'}
                    ,{field:'staff_price', width:100, title: '员工价'}
                    ,{field:'is_special', width:100, title: '特色菜品',align:'center'}
                    ,{field:'groundin', width:100, title: '菜品状态',align:'center'}
                    ,{field:'sort', width:100, title: '排序值',align:'center'}
                    ,{field:'status', width:100, title: '是否删除',align:'center'}
                    ,{field:'right', width:200,toolbar: '#barDemo', title: '操作',align:'center',fixed:'right'}
                ]]
                ,page: true
            });
        });
        form.render();
        $('.layui-table').on('click','tr',function(){
            $(this).css('background','#ccc').siblings().css('background','#fff');
        });
        //跳转页面
        $('#goodsAdds').on('click', function(){
            location.href="{:url('Goods/goodsAdd')}";
        });
    });
</script>