<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>菜品管理</a>
        <a><cite> 修改菜品</cite></a>
    </span>
</blockquote>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>修改菜品</legend>
</fieldset>
<form class="layui-form">
<input type="text" id="page" hidden='hidden' value="{$page}">
<input type="text" hidden name="storeid" value="{$goods.storeid}" id="">

    <div class="layui-form-item" style="display: none">
        <div class="layui-inline">
            <label class="layui-form-label">菜品id<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="gid" value="{$goods.gid}"  autocomplete="off" placeholder="菜品id" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">菜品图片</label>
        <button type="button" class="layui-btn" id="addZmImg"><i class="layui-icon">&#xe67c;</i>上传图片</button>
        <span style="margin-left:3px; color:grey;">
            278 * 163px &nbsp;&nbsp;&nbsp; 72ppi
        </span>
    </div>
    <input type="text" id='logoval' hidden value="{$goods.img}">
    <div class="layui-form-item layui-form-text">
        <div class="layui-input-block">
            <img src="" id="images" style="height: 50px; margin-top: 20px;">
            <a href="javascript:;" id='delimg'></a>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="margin-left: 100px;">
            <input type="hidden" id="logo" name="img">
            <ul id="imgZmList"></ul>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" maxlength="15" value="{$goods.name}" autocomplete="off" placeholder="请输入菜品名称" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品编号<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="code" lay-verify="code|int" maxlength="15" value="{$goods.code}" autocomplete="off" placeholder="请输入菜品编号" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="display: none">
        <div class="layui-inline">
            <label class="layui-form-label">菜品分类值<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text"id="gtvalue" name="gtvalue" value="{$goods.gtid}"  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜品分类<span style="color: red;">*</span></label>
        <div class="layui-input-inline" id="app">
            <select name="gtid" id="gtid" lay-verify="required" lay-search="">
                <option value="" >请选择菜品分类</option>
                {volist name="gtData" id='gtData'}
                <option value="{$gtData.gtid}">{$gtData.gtname}</option>
                {/volist}
            </select>
        </div>
    </div>
    <input type="text"id="gstids" name="gstids" value="{$gbsData.gstids}"  style="display: none">
    <input type="text"id="getStoreid" name="getStoreid" value="{$goods.storeid}"  style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">请选择规格</label>
        <div class="layui-input-block" id="tag_ids2" >
        </div>
    </div>
    <button type="button" style="display: none" class="layui-btn layui-btn-normal" id="get-val">获取选中值</button>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品售价<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="selling_price" lay-verify="selling_price|required" value="{$goods.selling_price}" autocomplete="off" placeholder="请输入售价" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">菜品原价</label>
            <div class="layui-input-block">
                <input type="text" name="original_price" lay-verify="original_price|int" value="{$goods.original_price}" autocomplete="off" placeholder="请输入原价" class="layui-input">
            </div>
        </div>
<!--    </div>-->
<!--    <div class="layui-form-item">-->
        <div class="layui-inline">
            <label class="layui-form-label">会员价</label>
            <div class="layui-input-block">
                <input type="text" name="member_price" lay-verify="member_price|int" value="{$goods.member_price}" autocomplete="off" placeholder="请输入会员价" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">员工价</label>
            <div class="layui-input-block">
                <input type="text" name="staff_price" lay-verify="staff_price|int" value="{$goods.staff_price}" autocomplete="off" placeholder="请输入员工价" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜品排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" value="{$goods.sort}" lay-verify="sort|int" autocomplete="off" placeholder="请输入排序值（默认10）" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">特色菜品</label>
        <div class="layui-input-block">
            <input type="checkbox" value="{$goods.is_special}" id="is_special" name="is_special"  lay-skin="switch" lay-text="ON|OFF">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开启库存</label>
        <div class="layui-input-block">
            <input type="checkbox" value="{$goods.is_open_stock}" id="is_open_stock" name="is_open_stock" lay-skin="switch" lay-text="ON|OFF">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">库存数量</label>
            <div class="layui-input-block">
                <input type="text" name="stock"  value="{$goods.stock}" lay-verify="stock|int" autocomplete="off" placeholder="请输入库存数量" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="display: none;">
        <div class="layui-inline">
            <label class="layui-form-label">菜品介绍value</label>
            <div class="layui-input-block">
                <input type="text" id="value_trade_description" name="value_trade_description"  value="{$goods.trade_description}" autocomplete="off" placeholder="请输入库存数量" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">菜品介绍</label>
        <div class="layui-input-block">
            <textarea name="trade_description" id="trade_description" placeholder="" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即修改</button>
            <button type="reset" id='up' class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>

<script>
    $(function(){
        layui.use(['form','layer','upload','element','laydate','selectM','element','jquery'], function(){
            var form = layui.form;
            var layer = layui.layer;
            var laydate = layui.laydate;
            var upload = layui.upload;
            var $ = layui.jquery;
            var selectM = layui.selectM;
            var uploads = upload.render({
                elem: '#test2'
                ,url: '{:url("Brand/bannerUpload")}'
                ,multiple: true
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#demo2').append('<img style="width: 100px;height: 100px' +
                            '" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">&nbsp;<a style="color: red">删除</a>&nbsp;')
                    });
                }
                ,done: function(res){
                    //上传完毕
                }
            });

            //设置菜品分类默认值
            var value_trade_description = $('#value_trade_description').val();
            document.getElementById('trade_description').value = value_trade_description;

            //设置特色菜品默认选中状态
            var is_special = $('#is_special').val();
            if(is_special == 1){
                $('#is_special').attr('checked',true);
            }
            //设置库存默认选中状态
            var is_open_stock = $('#is_open_stock').val();
            if(is_open_stock == 1){
                $('#is_open_stock').attr('checked',true);
            }
            //设置分类默认值
            var gtid = $('#gtvalue').val();
            $('#gtid').val(gtid)
            form.render();

            //设置规格选中默认值
            var gstids = $('#gstids').val();
            gstList= gstids.split(',');
            var storeid = $('#getStoreid').val();

            $(document).ready(function(){
                $.post("{:url('Goods/getGoodsSpecTypeList')}",
                    {storeid:storeid},
                    function(msg){
                        if(msg.code ==1){
                            var tagIns2 = selectM({
                                elem: '#tag_ids2'//元素容器【必填】
                                ,data: msg.font//候选数据【必填】
                                ,selected: gstList//默认值
                                ,max : 6//最多选中个数，默认5
                                ,name: 'tag2'//input的name 不设置与选择器相同(去#.)
                                ,delimiter: ','//值的分隔符
                                ,width:495
                                ,field: {idName:'gstid',titleName:'gstname'}//候选项数据的键名
                            });
                            arr = msg.font
                        }
                    },'json');
            });
            var logoval = $('#logoval').val();
            if(logoval !== ''){
                $('#images').attr('src','__PUBLIC__/'+logoval);
            }

            var uploads = upload.render({
                elem: '#addZmImg'
                ,url: '{:url("Brand/bannerUpload")}'
                ,multiple: true
                // ,acceptMime:'image/jpg, image/png'
                // ,number:5
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    $("#imgZmList").height(110);
                    obj.preview(function(index, file, result){
                        $('#imgZmList').append('<li style="position:relative;width:112px;height: 110px;">' +
                            '<img name="imgZmList" src="' + result + '"width="112" height="112" left="170">' +
                            '<div class="img_close" onclick="deleteElement(this)">X</div></li>');
                        imgMove("imgZmList");
                    });
                    return false;
                },allDone: function(obj){ //当文件全部被提交后，才触发
                },done: function(res){
                    if(res.code==1){
                        $('#images').hide();
                        var strLen = $('#logo').val();
                        if(strLen.length == 0){

                            $('#logo').val(res.src);
                        }else{
                            $('#logo').val($('#logo').val()+','+res.src);
                        }
                    }
                }
            });
            $('#up').click(function(){
                var page = $('#page').val();
                localStorage.setItem('page',page);
                window.history.back();
            });
            //执行一个laydate实例
            laydate.render({
                elem: '#test1' //指定元素
            });
            //时间范围
            laydate.render({
                elem: '#test4'
                ,type: 'time'
            });
            laydate.render({
                elem: '#test5'
                ,type: 'time'
            });
            form.on('submit(*)',function(data){
                var info = data.field;
                $.post(
                    "{:url('Goods/goodsEdit')}",
                    info,
                    function(msg){
                        if(msg.code ==1){
                            layer.msg(msg.font, {
                                icon: msg.code,
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                                var page = $('#page').val();
                                localStorage.setItem('page',page);
                                window.history.back();
                            });
                        }else{
                            layer.msg(msg.font, {icon: 5});
                        }
                    },'json'
                )
                return false;
            });
            /* 验证输入框*/
            var reg = /^-?\d+$|^(-?\d+)(\.\d+)?$/;
            form.verify({
                code: [/^$|^[0-9]{0,15}$/, '菜品编号只能是数字！'],
                selling_price: [reg, '菜品售价格式有误，请重新输入'],
                original_price:function(value){
                    if(value.length){
                        if(reg.test(value) == 0){
                            return '菜品原价格式有误，请重新输入';
                        }
                    }
                } ,
                member_price: function(value){
                    if(value.length){
                        if(reg.test(value) == 0){
                            return '会员价格式有误，请重新输入';
                        }
                    }
                } ,
                staff_price:function(value){
                    if(value.length){
                        if(reg.test(value) == 0){
                            return '员工价格式有误，请重新输入';
                        }
                    }
                } ,
                stock:function(value){
                    if(value.length){
                        if(reg.test(value) == 0 || value < 0){
                            return '库存格式有误，请重新输入';
                        }
                    }
                } ,
                sort: [/^$|^[0-9]{0,5}$/, '排序值只能是数字最大99999！'],
            });
        });
    })

</script>
