<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">文件名称<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="fileName"  autocomplete="off" placeholder="请输入名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">表头名称<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="tableName"  autocomplete="off" placeholder="请输入表头" class="layui-input">
        </div>
    </div>

    <input type="text" hidden id='is_parent' value="{$is_display}">
      <div class="layui-form-item" id='is_display' style="display: none;">
          <label class="layui-form-label">请选择门店<span style="color: red;">*</span></label>
          <div class="layui-input-block">
            <select name="store">
            <option value="">全部门店</option>
            {volist name="data" id='datas'}
            <option value="{$datas.storeid}">{$datas.name}</option>
            {/volist}
            </select>
          </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单状态</label>
            <div class="layui-input-block">
              <input type="radio" name="pay_status" value="2" title="有效订单" checked>
              <input type="radio" name="pay_status" value="3" title="退款订单">
            </div>
          </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">支付时间<span style="color: red;">*</span></label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="start_at" value=""  autocomplete="off" id="start_at" placeholder="开始时间"  lay-verify="required" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="end_at" value="" autocomplete="off" id="end_at" placeholder="结束时间"  lay-verify="required" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即生成Excel</button>
            <button type="reset" id='up' class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>

<!-- 示例-970 -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function(){
        layui.use(['form','layer','upload','laydate'], function(){
            var form = layui.form;
            var layer = layui.layer;
            var laydate = layui.laydate;

            //执行一个laydate实例
              laydate.render({
                elem: '#test1' //指定元素
              });
              //年月选择器
              laydate.render({ 
                elem: '#start_at'
                ,type: 'date'
              });
              laydate.render({
                  elem: '#end_at'
                  ,type: 'date'
              });
              var is_dislpay = $('#is_parent').val();
              if(is_dislpay == 1){
                  $('#is_display').show();
                  form.render();
              }
              //常规用法
              // laydate.render({
              //     elem: '#start_at'
              // });
              // laydate.render({
              //     elem: '#end_at'
              // });

            	$('#up').click(function(){
            	    location.href="{:url('Xmorder/orderDay')}";
            	});
                form.render();
            //监听提交
            form.on('submit(*)',function(data){
            	var newtemp = data.field;
            	location.href="{:url('Xmorder/exportExcelData')}?fileName="+newtemp.fileName+"&tableName="+newtemp.tableName+"&start_at="+newtemp.start_at+"&end_at="+newtemp.end_at+"&store="+newtemp.store+"&pay_status="+newtemp.pay_status;
            	return false;
                $.post(
                        "{:url('Data/exceAdd')}",
                        data.field,
                        function(msg){


                            if(msg.code==1){
                                layer.msg(msg.font, {
                                  icon: msg.code,
                                  time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                  location.href="{:url('Data/dataList')}";
                                });   
                            } else {
                                layer.msg(msg.font,{icon:msg.code});
                            }


                            
                        },'json'
                )
                return false;
            })
        });
    })

</script>
