<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>订单管理</a>
        <a><cite> 订单详情</cite></a>
    </span>
</blockquote>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>订单详情</legend>
</fieldset>
<input type="text" hidden="hidden" value="{$page}" id="page">
<input type="text" hidden="hidden" value="{$order.order_sn}" id="order">
<div class="layui-form-item">
    <div style="width: 40%; margin-left: 40px; float: left;">
        <span style="font-size: 30px;">{$order.sname}</span>
        <span style="font-size: 20px; color:gray; margin-left: 10%;" id="status" >{$order.pay_status}</span>
       <hr>
       
       {volist name="goods" id='goods'}
       <div style="margin-top: 20px;">
        <div style="width: 200px;">
           <span style="font-size: 20px;">{$goods.goods_name}</span>
        </div>
        <div>
           <div style="float:left; margin-left: 40%;">x<span>{$goods.goods_number}</span></div>
            <div style="float: left; margin-left: 5%; color: gray; width: 100px;">￥{$goods.original_price}</div>
            <div style="float: left; margin-left: 10%; color: red;">￥{$goods.selling_price}</div>
            {if condition="$goods.is_refund eq '0'"}
                <button type="button" style="margin-left: 80%;" ogid='{$goods.ogid}' money='{$goods.selling_price}' class="layui-btn layui-btn-normal layui-btn-sm is_refund_one">退款</button>
            {else /}
                <span style="margin-left: 80%; color: red;">退款成功</span>
            {/if}
            <div style="clear: both;">
            {volist name="goods.son" id='son'}
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm">{$son.gsname}</button>
            {/volist}
            菜品备注：{$goods.gremark}
            </div>
        </div>
        </div>
       {/volist}

       <!-- <div style="margin-top: 20px;">
            <span style="font-size: 20px;">水果沙拉</span>
            <span style="margin-left: 40%;">x<span>1</span></span>
            <span style="margin-left: 5%; color: gray;">￥32</span>
            <span style="margin-left: 10%; color: red;">￥24</span>
        </div> -->
        <div style="margin-left: 61%; margin-top: 10%;">
            <span style="font-size: 20px;">小计：</span>
            <span style="margin-left:20px; color: red;">￥{$order.receivables}</span>
        </div>
        <div style="margin-top: 10%;">
            <h2>备注</h2>
            <span style="color: gray;">{$order.remark}</span>
        </div>
    </div>
    


    <div style="float:right; width: 40%;">
        <h2>订单详情</h2>
        <div style="margin-top: 20px;" >桌台号/就餐方式： <span style="margin-left: 20%;">{$order.tnumber}/{$order.order_type}</span></div>
        <div style="margin-top: 20px;" >订单编号： <span style="margin-left: 20%;">{$order.order_sn}</span></div>
        <div style="margin-top: 20px;" >支付方式： <span style="margin-left: 20%;">{$order.pay_id}</span></div>
        <div style="margin-top: 20px;" >下单时间： <span style="margin-left: 20%;">{$order.create_time}</span></div>
        <div style="margin-top: 20px;" >支付时间： <span style="margin-left: 20%;">{$order.pay_time}</span></div>
        
    </div>
 
<span id='is_pay' hidden>{$order.is_pay}</span>
<div class="layui-form-item">
        <div class="layui-input-block">
            <button type="reset" id='up' class="layui-btn layui-btn-primary">返回</button>
            <button type="reset" id='refund' class="layui-btn  layui-btn-normal" style="display: none;">全部退款</button>
        </div>
        <span style="margin-left: 9%;color:red;display: none;" id='title'>仅限当日23:59:59之前可进行退款操作</span>
    </div>
<script>
    layui.use(['table','layer','upload','form'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var upload = layui.upload;
        var form = layui.form;
        var status = $('#status').text();
        if(status == '已付款' || status == '已完成'){
            $('#refund').attr('style','display:inline;');
            $('#title').show();
        } else {
            $('#refund').attr('style','display:none;');
            $('#title').hide();
        }
        //1不可以退款
        var is_pay = $('#is_pay').text();
        if(is_pay == 1){
            $("#refund").addClass("layui-btn-disabled");
            $('.is_refund_one').addClass('layui-btn-disabled');
        }
        $('#up').click(function(){
            var page = $('#page').val();
                    localStorage.setItem('page',page);
                    window.history.back();
        });

        $('#refund').click(function(){
            if(is_pay == 1){
                return false;
            }
            var order = $('#order').val();
            $.post(
                        "{:url('Xmorder/refund')}",
                        {order_no:order},
                        function (msg) {
                            if (msg.code == 1) {
                                layer.msg(msg.font, {
                                    icon: msg.code,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    var page = $('#page').val();
                                    localStorage.setItem('page',page);
                                    window.history.back();
                                });
                            } else {
                                layer.msg(msg.font,{icon:msg.code});
                            }
                        },
                'json'
                )
        });

        $('.is_refund_one').click(function(){
            if(is_pay == 1){
                return false;
            }
            var _this = $(this);
            layer.confirm('确认退款？', {
            btn: ['确认', '取消'] //可以无限个按钮
            ,btn3: function(index, layero){
                //按钮【按钮三】的回调
            }
            }, function(index, layero){
                var order = $('#order').val();
                var ogid = _this.attr('ogid');
                var money = _this.attr('money');

                $.post(
                        "{:url('Xmorder/oneRefund')}",
                        {order_no:order,ogid:ogid,money:money},
                        function (msg) {
                            if (msg.code == 1) {
                                layer.msg(msg.font, {
                                    icon: msg.code,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    var page = $('#page').val();
                                    localStorage.setItem('page',page);
                                    window.history.back();
                                });
                            } else {
                                layer.msg(msg.font,{icon:msg.code});
                            }
                        },
                'json'
                )


                console.log(ogid,money,order);
            //按钮【按钮一】的回调
            }, function(index){
            //按钮【按钮二】的回调
            });
            
        });
    });
</script>
