<style type="text/css">
    .marginTs{
        margin-top: 30px;
    }
    .tempsTest{
        margin-top:5px;
    }
    .red{
        color:red;
    }

    .green{
        color:green;
    }
    .black{
        color:black;
    }

    .images{
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }
    .layui-img-div{
        text-align:center;
    }
    .layui-title-div{
        color: #FF5454;
        font-size: 20px;
        margin: 10px 0;
    }
    .layui-title2-div{
        font-size: 20px;
        margin-bottom: 30px;

    }
    .layui-title3-div{
        font-size: 18px;
        font-weight: bold; 
        margin-bottom: 20px;
    }
    .layui-title4-div{
        font-size: 10px;
    }
</style>
<blockquote class="layui-elem-quote layui-text">
    <span class="layui-breadcrumb">
        <a href='#'>缴费管理</a>
        <a><cite> 物业收费</cite></a>
    </span>
</blockquote>


<div class="search-table layui-form">

     <div class="layui-inline tempsTest">
        <select name="order_status"  id="order_status" >
            <option value="" >订单状态</option>
            <option value="0">未确认</option>
            <option value="1">确认</option>
            <option value="2">已取消</option>
            <option value="3">无效</option>
            <option value="4">退货</option>
            <option value="5">已完成</option>
        </select>
    </div>

     <div class="layui-inline tempsTest">
        <select name="pay_id"  id="pay_id" >
            <option value="" >支付方式</option>
            <option value="1">微信支付</option>
        </select>
    </div>

    <div class="layui-inline tempsTest">
        <select name="tnumber"  id="tnumber" >
            <option value="" >桌号</option>
            <option value="1">1号桌</option>
        </select>
    </div>


            
      <div class="layui-inline tempsTest">
        <select name="order_type"  id="order_type" >
            <option value="" >就餐方式</option>
            <option value="1">堂食</option>
            <option value="2">外带</option>
        </select>
    </div>

    <div class="layui-inline tempsTest">
        <select name="pay_status"  id="pay_status" >
            <option value="" >支付状态</option>
            <option value="0" >未付款</option>
            <option value="1">付款中</option>
            <option value="2">已付款</option>
            <option value="3">已退款</option>
        </select>
    </div>
    <div class="layui-inline tempsTest"> <!--  支付时间-->
        <input type="text" placeholder='支付时间' class="layui-input" name="pay_time" id="test1">
    </div>
    
    <div class="layui-inline tempsTest"> <!-- 注意：这一层元素并不是必须的 -->
    	<input type="text" placeholder='下单时间' name="create_time" class="layui-input" id="test2">
  	</div>
    <!-- 付款金钱 -->
    <div class="layui-inline tempsTest">
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="price_min" placeholder="￥金钱" autocomplete="off" class="layui-input">
        </div>
        -
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="price_max" placeholder="￥金钱" autocomplete="off" class="layui-input">
        </div>
    </div>
  	<button type="button" value='1' id='create_time' class="layui-btn layui-btn-xs">↓</button>
    <div class="layui-input-inline tempsTest" style="width: 100px;">
      <input type="text" name="pay_fee" placeholder="订单金额"  autocomplete="off" class="layui-input">
    </div>
    <button type="button" value='1' id='order_fee' class="layui-btn layui-btn-xs">↓</button>
    <input type="text" value="{$display}" id='displays' hidden>
    <div class="layui-inline tempsTest" id="mendian" style="display: none;">
        <select name="store"  id="store" >
            <option value="" >选择门店</option>
            {volist name="select" id='select'}
                <option value="{$select.storeid}">{$select.name}</option>
              {/volist}
        </select>
    </div>
    <div class="layui-input-inline tempsTest" id="order" style="display: none;">
        <input value="" type="text" name="order" autocomplete="off"
               placeholder="请输入订单号" class="layui-input" style="width: 200px"/>
    </div>
    <button class="layui-btn tempsTest" lay-submit id='sousuo' lay-filter="*">搜索</button>
    <button class="layui-btn tempsTest" lay-submit id='excel' lay-filter="*">导出订单(excel)</button>
</div>

<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="pos">详情</a>

</script>
<script src="__STATIC__/public.js"></script>
<script>
    layui.use(['table','layer','element','upload','form','laydate'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var upload = layui.upload;
        var form = layui.form;
        var laydate = layui.laydate;
        var tmer;
        var dis = $('#displays').val();
        if(dis == 1){
            $('#mendian').show();
            $('#order').show();
        }
        form.render('select');
        $('#excel').click(function(){
            location.href="{:url('Xmorder/excel')}";
          return false;
        });
        $('#create_time').click(function(){
        	var create_time = $('#create_time').val();
        	if (create_time == 1) {
        		$('#create_time').text('↑');
        		$('#create_time').val(2);
        	} else {
        		$('#create_time').text('↓');
        		$('#create_time').val(1);
        	}
        });

        $('#order_fee').click(function(){
        	var order_fee = $('#order_fee').val();
        	if (order_fee == 1) {
        		$('#order_fee').text('↑');
        		$('#order_fee').val(2);
        	} else {
        		$('#order_fee').text('↓');
        		$('#order_fee').val(1);
        	}
        });
        var ids = 0;

        //自动点击.
        $(document).ready(function(){

            $("#sousuo").trigger("click");
            ids = 1;
            if(ids == 1){
                 var page = localStorage.getItem('page');
                table.reload('test', {
                    page: {
                        curr: page //重新从第 1 页开始
                    }
                }); //只重载数据
                localStorage.clear();
            }

        });
            
		//日期选择器
        laydate.render({ 
          elem: '#test1'
          ,type: 'datetime' //默认，可不填
        });
       
        //日期选择器
        laydate.render({ 
          elem: '#test2'
          ,type: 'datetime' //默认，可不填
        });

        //删除和修改
        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对

            if(layEvent === 'detail'){ //查看
                var pages = $(".layui-laypage-skip").find("input").val() //当前页码值
                location.href="{:url('Orders/paymentUpdateInfo')}?id="+data.id+"&page="+pages;
            } else if(layEvent === 'del'){ //删除
                
            } else if (layEvent == 'refund') {
               
            } else if (layEvent == 'pos') {
                var pages = $(".layui-laypage-skip").find("input").val() //当前页码值
                location.href="{:url('Xmorder/orderInfo')}?orderid="+data.orderid+"&page="+pages;
                return false;
            } else if (layEvent == 'money') {
                    
            } else if (layEvent == 'paytoken') {
                
            }
        })

        form.on('submit(*)', function(data){
            var create_time_type = $('#create_time').val();
            var order_fee_type = $('#order_fee').val();
            data.field.create_time_type = create_time_type;
            data.field.order_fee_type = order_fee_type;

          table.render({
              elem: '#test'
              ,url:"{:url('Xmorder/orderDay')}"
              ,where:data.field
              ,limit:10
              // ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
              ,cols: [[
              {field:'orderid', width:100, title: 'orderid'}
                ,{width:100, title: '序号',type:'numbers'}
                ,{field:'order_sn', width:250, title: '订单号'}
                ,{field:'tnumber',width:130, title: '桌台号'}
                ,{field:'pay_fee',width:200, title: '订单总额'}
                ,{field:'goods_amount',width:200, title: '菜品数量'}
                ,{field:'pay_id',width:150, title: '支付方式',align:'center'}
                ,{field:'pay_status',width:150, title: '支付状态',align:'center'}
                ,{field:'order_status',width:150, title: '订单状态',align:'center'}
                ,{field:'invoice_status',width:150, title: '开票状态',align:'center'}
                ,{field:'right', width:100,toolbar: '#barDemo', title:'操作',align:'center'}
            ]],
            done: function () {
                $("[data-field='orderid']").css('display','none');
                $('.layui-table').on('click','tr',function(){
                    $(this).css('background','#ccc').siblings().css('background','#fff');
                });
            },page: true
          });
        });

        $('.layui-table').on('click','tr',function(){
            $(this).css('background','#ccc').siblings().css('background','#fff');
        });
    });
</script>

