<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">业主姓名<span style="color: red;">*</span></label>
        <div class="layui-input-inline">
            <input type="text" name="user_name" id='user_name' lay-verify="required" autocomplete="off"
                   placeholder="请输入业主姓名" class="layui-input">
        </div>
    </div>

	<div class="layui-form-item">
	    <label class="layui-form-label">选择房屋<span style="color: red;">*</span></label>
	    <div class="layui-input-inline">
	        <select name="home_id" id='home'>
	            <option value="">请选择</option>
	        </select>
	    </div>
	</div>
    <div class="layui-form-item">
        <label class="layui-form-label">订单标题<span style="color: red;">*</span></label>
        <div class="layui-input-inline">
            <input type="text" name="msg" lay-verify="required" autocomplete="off"
                   placeholder="请输入订单标题" class="layui-input">
        </div>
    </div>
	

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">费用明细<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" name="cost_info" class="layui-textarea" lay-verify="required"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">缴费金额<span style="color: red;">*</span></label>
        <div class="layui-input-inline">
            <input type="text" name="fee" lay-verify="required" autocomplete="off"
                   placeholder="请输入缴费金额" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">退款金额<span style="color: red;">*</span></label>
        <div class="layui-input-inline">
            <input type="text" name="refund_money" lay-verify="required" autocomplete="off"
                   placeholder="请输入退款金额" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">押金备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" name="title" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
        </div>
    </div>
</form>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function(){
        layui.use(['form', 'layer'], function(){
            var form = layui.form;
            var  layer = layui.layer;
            $('#user_name').blur(function(){
                var userName = $(this).val();
                if (userName == '') {
                        $('#home').children().first().nextAll().remove();
                        $('#home').append('<option value=""></option>');
                        form.render('select');
                        return false;
                    }
                    $.post(
                            '{:url("Deposit/depositHome")}',
                            {user_name:userName},
                            function( data ){
                                if (data.code == 0) {

                                    if (data.data == '') {
                                        $('#home').children().first().nextAll().remove();
                                        $('#home').append('<option value=""></option>');
                                        form.render('select');
                                        return false;
                                    }


                                    $('#home').children().first().nextAll().remove();
                                    for(var i=0;i<data.data.length;i++){
                                        $('#home').append('<option value="'+data.data[i].home_id+'#'+data.data[i].home_name+'">'+data.data[i].home_name+'</option>');
                                        form.render('select');
                                    }
                                } else {
                                    layer.msg(data.msg,{icon:2});
                                }
                            },'json'
                    )
                    return false;
            });
           	

            //监听提交
            form.on('submit(*)', function(data){
                $.post(
                        '{:url("Deposit/depositAdd")}',
                        data.field,
                        function( data ){
                            if(data.code==1){
                              layer.msg(data.font, {
                                icon: data.code,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                              }, function(){
                                location.href="{:url('Deposit/depositList')}";
                              });   
                          } else {
                              layer.msg(data.font,{icon:data.code});
                          }
                           
                        },'json'
                )
                return false;
            });

        });
    })

</script>
