<form class="layui-form">

    <div class="layui-form-item">
        <label class="layui-form-label">请选择小区<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <select name="dis" lay-filter="filter" id="names">
            <option value="">请选择小区</option>
            {volist name="dis" id='v'}
            <option value="{$v.id}">{$v.name}</option>
            {/volist}
          </select>
        </div>
      </div>


      <div class="layui-form-item">
          <label class="layui-form-label">请选择区<span style="color: red;">*</span></label>
          <div class="layui-input-block">
            <select name="qu">
              <option value="">请选择区</option>
              {volist name="area" id='area'}
                <option value="{$area}">{$area}</option>
              {/volist}
            </select>
          </div>
        </div>
    <div class="layui-form-item">
        <label class="layui-form-label">楼/单元/户号<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="home_code"  autocomplete="off" placeholder="请输入楼/单元/户号" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">业主姓名<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="home_name"  autocomplete="off" placeholder="请输入业主姓名" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">联系方式<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="tel"  autocomplete="off" placeholder="请输入联系方式 多个手机号用，区分" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">面积<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="area"  autocomplete="off" placeholder="请输入面积" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">入住时间<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="ctime" id="test1">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" name="content" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即添加</button>
            <button type="reset" id='up' class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>

<!-- 示例-970 -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function(){
        layui.use(['form','layer','upload','laydate'], function(){
            var form = layui.form;
            var layer = layui.layer;
             var laydate = layui.laydate;
            	$('#up').click(function(){
            	    location.href="{:url('Home/homeList')}";
            	});

                //执行一个laydate实例
                  laydate.render({
                    elem: '#test1' //指定元素
                  });

                var userName=null;  //定义一个空值
                form.on('select(filter)', function(data){
                    userName=data.elem[data.elem.selectedIndex].text;  //取选中下拉框的文本并赋值给userName
                });

            //监听提交
            form.on('submit(*)',function(data){
                var info = data.field;
                info.dname=userName;
                $.post(
                        "{:url('Home/homeAdd')}",
                        info,
                        function(msg){
                            console.log(msg);

                            if (msg.code == 3) {
                                layer.confirm('已经有这个房子了，确定要继续添加吗？', function(index){
                                    info.status = 1;
                                    $.post(
                                            '{:url("Home/homeAdd")}',
                                            info,
                                            function(da){
                                                
                                                if(da.code==1){
                                                    layer.msg(da.font, {
                                                      icon: da.code,
                                                      time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                                    }, function(){
                                                      location.href="{:url('Home/homeList')}";
                                                    });   
                                                } else {
                                                    layer.msg(da.font,{icon:da.code});
                                                }





                                            },'json'
                                    )
                                });
                            } else {
                                if(msg.code==1){
                                    layer.msg(msg.font, {
                                      icon: msg.code,
                                      time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                    }, function(){
                                      location.href="{:url('Home/homeList')}";
                                    });   
                                } else {
                                    layer.msg(msg.font,{icon:msg.code});
                                }
                            }

                            


                            
                        },'json'
                )
                return false;
            })
        });
    })

</script>
